body {
    background-color: rgb(20, 19, 19)
}

#flashCardWindow {
    width: 100%;
    min-height: 800px;
}

#flashCardGrid {
    display: grid;
    grid-template-columns: auto 500px;
    grid-template-rows: auto auto;
    grid-template-areas: "choose flashCard" 
                         "choose buttons";
    margin: auto;
    justify-content: center;
}

#selectionButtons {
    grid-area: choose;
    width: auto;
    background-color: rgb(185, 155, 161);
}

#flashCardContainer {
    grid-area: flashCard;
    height: 400px;
    background-color: aqua;
}

#flashCard {
    font-size: 30px;
    width: 100%;
    height: 100%;
    background-color: crimson;
}

#flashCardButtons {
    grid-area: buttons;
    height: 50px;
    background-color: blueviolet;
}

.buttons {
    display: inline-block;

}

.buttons:active {
    background-color: white;
    color: black;
}

.buttons, .blockButtons {
    border: 1px solid white;
    background-color: rgb(34, 20, 20);
    color: white;
}

.buttons, .blockButtons, .blockButtonActive {
    border-radius: 3px;
    min-width: 50px;
    min-height: 30px;
    cursor: pointer;
}

.blockButtons {
    display: block;
}

.blockButtonActive {
    background-color: white;
    color: black;
}